.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.btn-block {
    width: 100%;
    margin-bottom: 5px;
}

.btn-icon {
    padding-right: 5px;
}
.vh-100{
    background: linear-gradient(white, rgb(210, 212, 167));
}